<div class="ui divider"></div>
<div class="ui divided horizontal footer link list">
  <div class="item">
    Created with <i class="heart icon"></i> by <a href="http://miroslavbeka.com">Miroslav Beka</a>
  </div>
</div>
