<!doctype html>
<html>
  <head>
    {% block head %}
    <link rel="stylesheet" href={{ url_for("static", filename="css/semantic.css") }} />
    <link rel="stylesheet" href={{ url_for("static", filename="css/application.css") }} />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Open+Sans:300italic,400,300,700" type="text/css" />
    <script src= {{ url_for("static", filename="js/jquery-2.0.3.js") }}></script>
    <script src= {{ url_for("static", filename="js/semantic.js") }}></script>
    <script src= {{ url_for("static", filename="js/application.js") }}></script>
    <title>{% block title%}{% endblock %}</title>
    {% endblock %}
  </head>
  <body>
    {% block content %}{% endblock %}
  </body>
</html>


