{% extends "application.jinja" %}
{% block title %}Configure Experiment{% endblock title%}
{% block head %}
  {{ super() }}
{% endblock head%}
{% block content %}
<div class="ui one column grid">
  <div class="ui column">
    <div class="ui segment">
      Step One
    </div>
  </div>
  <div class="ui column">
    <div class="ui segment">
      Step Two
    </div>
  </div>
  <div class="ui column">
    <div class="ui segment">
      Step Three
    </div>
  </div>
</div>

{% endblock content %}
