{% extends "application.jinja" %}
{% block title %}Web Interface for Growing and Irregular CA{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
<div class="ui one column grid">
  <div class="ui column">
    <div class="ui vertical segment">
      <h1 class="ui header" >Evolution of Growing and Irregular Cellular Automata</h1>
      <p>Because Master Thesis should be difficult</p>
    </div>
  </div>
  <div class="ui column">
    <div class="ui segment">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </div>
  </div>
</div>

{% endblock %}

