{% extends "application.jinja" %}
{% set active_page = "projects" %}

{# change title #}
{% block title %}WICA - Projects{% endblock %}

{% block head %}
<script src= {{ url_for("static", filename="js/projects.js") }}></script>
<script src= {{ url_for("static", filename="js/form.js") }}></script>
{{ super() }}
{% endblock %}

{# content for main block #}
{% block content %}
<div class="ui page grid">
    <div class="ui column">

        {% include "_projects_header.jinja" %}

        <table class="ui table segment">
            <thead>
                <tr>
                    <td>project</td>
                </tr>
            </thead>
            <tbody>
                {% for project in projects %}
                    {{ helper.display_project(project) }}
                {% endfor %}
                <tr>
                    <td>
                        <div class="ui form">
                            <div class="field">
                                <label>Create new project</label>
                                <div class="ui action left labeled icon input">
                                    <input type="text" name="projectName" placeholder="Project Name">
                                        <i class="lab icon"></i>
                                        <div style="width:3em" class="ui blue submit button">
                                            Create
                                        </div>
                                    </input>
                                </div>
                            </div> {# field end #}
                        </div> {# form end #}
                    </td>
                </tr>
            </tbody>
        </table> {# end accordion #}

    </div>
</div>
{% endblock %}
