{% extends "application.jinja" %}
{% set active_page = "projects" %}

{# change title #}
{% block title %}WICA - Projects{% endblock %}

{% block head %}
<script src= {{ url_for("static", filename="js/projects.js") }}></script>
<script src= {{ url_for("static", filename="js/form.js") }}></script>
{{ super() }}
{% endblock %}

{# content for main block #}
{% block content %}
<div class="ui page grid">
  <div class="ui column">
    <h2 class="ui huge center aligned icon header" >
      <i class="circular emphasized inverted teal lab icon"></i>
      <div class="content">Welcome to projects</div>
    </h2>

    {# TODO: list of projects #}

    <div class="ui form segment">
      <div class="field">
        <label>Project Name</label>
        <div class="ui left labeled icon input">
          <input type="text" name="projectName" placeholder="project01">
            <i class="setting icon"></i>
          </input>
        </div>
      </div> {# field end #}
      <div class="ui blue submit button floated right">Create</div>
    </div> {# form end #}

    <div class="ui horizontal divider"> or </div>

    {% for project in projects %}
      {{ helper.display_project(project) }}
    {% endfor %}

  </div>
</div>
{% endblock %}
