{% extends "application.jinja" %}
{% set active_page = "projects" %}
{% set active_tab = "settings" %}

{# change title #}
{% block title %}WICA - Project {{ project.name }}{% endblock %}

{% block head %}
<script src= {{ url_for("static", filename="js/form.js") }}></script>
<script src= {{ url_for("static", filename="js/project_settings.js") }}></script>
{{ super() }}
{% endblock %}

{# content for main block #}
{% block content %}
<div class="ui page grid">
    <div class="ui column">

        {% include "_project_header.jinja" %}

        {{ helper.tab_menu(project.name, active_tab) }}

        <div class="ui bottom attached update form segment">

            {% for section in project.config.sections() %}
            <div class="{{ section }} section">
                <h3>{{ section }} <i class="ui close removeSection icon" data-section="{{section}}"></i></h3>
                    {% for option in project.config.options(section) %}
                    <div class="field {{option}}">
                    <label>{{ option }}</label>
                    <div class="ui action input">
                        <input class="ui input" type="text" name="{{section}}.{{option}}" value="{{ project.config.get(section, option) }}">
                        <div class="ui removeOption tiny red button" data-option="{{option}}" data-section="{{section}}">
                            <i class="ui minus icon"></i>
                        </div>
                    </div>
                </div> {# end field #}
                {% if loop.last %} {# if last option #}
                <div class="ui three column grid">
                    <div class="column">
                        <div class="ui action input">
                            <input type="text" name="optionName" placeholder="Option name">
                            <div class="ui addOption button" data-section="{{section}}">
                                &nbsp;
                                <i class="ui plus icon"></i>
                            </div>
                        </div>
                    </div> {# end column #}
                </div> {# end grid #}
                {% endif %}
                {% endfor %} {# end of options loop #}
            </div> {# end section div #}

            {% if loop.last %} {# if last section #}
            <div class="ui addSection horizontal icon divider">
                <i class="plus horizontal icon"></i>
            </div>
            <div class="ui three column grid">
                <div class="column">
                    <div class="ui action input">
                        <input type="text" name="sectionName" placeholder="Section name">
                        <div class="ui addSection button">
                            <i class="ui plus icon"></i>
                        </div>
                    </div>
                </div> {# end column #}
            </div> {# end grid #}
            {% else %} {# if NOT last section #}
            <div class="ui addSection horizontal icon divider">
                <i class="ellipsis horizontal icon"></i>
            </div>
            {% endif %}
            {% endfor %} {# end of section loop #}

            <div class="ui floated right submit button">Update</button>

        </div> {# wtf which div end? #}
        </div> {# end form #}
    </div> {# end ui column #}
</div> 
{% endblock %}
