{% extends "application.jinja" %}
{% set active_page = "projects" %}

{# change title #}
{% block title %}WICA - Project {{ project.name }}{% endblock %}

{# content for main block #}
{% block content %}
<div class="ui page grid">
  <div class="ui column">
    <h2 class="ui huge center aligned icon header" >
      <i class="circular emphasized inverted teal settings icon"></i>
      <div class="content">Welcome to project {{project.name}}</div>
    </h2>

    <div class="ui update form">

      {% for section in project.config.sections() %}
      <h3>{{ section }}</h3>
        {% for option in project.config.options(section) %}
        <div class="field">
          <label>{{ option }}</label>
          <input type="text" name="{{section}}.{{option}}" value="{{ project.config.get(section, option) }}">
        </div> {# end field #}
        {% endfor %}
      <div class="ui horizontal icon divider">
        <i class="ellipsis horizontal icon"></i>
      </div>
      {% endfor %} {# section end #}

      <div class="ui floated right submit button">Update</button>

    </div> {# end form #}

    <div class="ui horizontal icon divider">
      <i class="trash icon"></i>
    </div>
    <div class="ui delete form">
      <div class="ui primary submit button">Delete</button>
    </div> {# end form #}
  </div> {# end ui column #}
</div>
{% endblock %}
