{% extends "application.jinja" %}
{% set active_page = "projects" %}
{% set active_tab = "weights" %}

{# change title #}
{% block title %}WICA - Project {{ project.name }}{% endblock %}

{% block head %}
<script src= {{ url_for("static", filename="js/form.js") }}></script>
<link rel="stylesheet" href="http://worrydream.com/Tangle/TangleKit/TangleKit.css" type="text/css">
<link rel="stylesheet" type="text/css" href={{ url_for("static", filename="css/jquery.jqplot.min.css") }} />
<script src="http://worrydream.com/Tangle/Tangle.js" charset="utf-8"></script>
<script type="text/javascript" src="http://worrydream.com/Tangle/TangleKit/mootools.js"></script>
<script type="text/javascript" src="http://worrydream.com/Tangle/TangleKit/sprintf.js"></script>
<script type="text/javascript" src="http://worrydream.com/Tangle/TangleKit/BVTouchable.js"></script>
<script type="text/javascript" src="http://worrydream.com/Tangle/TangleKit/TangleKit.js"></script>
<script type="text/javascript" src="http://www.numericjs.com/lib/numeric-1.2.6.min.js"></script>
<script type="text/javascript" src={{ url_for("static", filename="js/jquery.jqplot.min.js")}} ></script>
<script type="text/javascript" src={{ url_for("static", filename="js/jqplot.canvasTextRenderer.min.js") }}></script>
<script type="text/javascript" src={{ url_for("static", filename="js/jqplot.canvasAxisLabelRenderer.min.js")}}></script>
<script src= {{ url_for("static", filename="js/project_weights.js") }}></script>
{{ super() }}
{% endblock %}

{# content for main block #}
{% block content %}
<div class="ui page grid">
    <div class="ui column">

        {% include "_project_header.jinja" %}

        {{ helper.tab_menu(project.name, active_tab) }}

        <div class="ui bottom attached segment">
            <div class="ui grid">
                <div class="four wide column">
                    <div class="ui segment">
                        <div class="ui list">
                            {% if project.weights %}
                                {% for (err,fname) in project.weights %}
                                <div class="item">
                                    <i class="file icon"></i>
                                    <a class="load weight" data-name={{fname}}>{{ err }}</a>
                                </div> {# end item #}
                                {% endfor %}
                            {% else %}
                                No weights
                            {% endif %}
                        </div> {# end list #}
                    </div> {# end center aligned segment #}
                    <div class="ui icon green evolve labeled button">
                        <i class="leaf icon"></i>
                        Evolve weights
                    </div>
                </div> {# end first column #}
                <div class="twelve wide column" id="contentContainer">
                    <div class="ui center aligned segment dimmable">
                        <div class="ui dimmer hidden">
                            <div class="content">
                                <div class="center">
                                    Loading...
                                </div>
                            </div>
                        </div> {# end dimmer #}

                        <h2 class="ui huge center aligned icon header" >
                            <i class="circular emphasized inverted green hdd icon"></i>
                            <div class="content">Select Weight File</div>
                        </h2>

                    </div> {# end center aligned segment #}
                </div> {# end third column #}
            </div> {# end grid #}
        </div>

    </div> {# end ui column #}
</div>
{% endblock %}
