{% extends "application.jinja" %}
{% set active_page = "projects" %}

{# change title #}
{% block title %}WICA - Project {{ project.name }}{% endblock %}

{# content for main block #}
{% block content %}
<div class="ui page grid">
  <div class="ui column">
    <h2 class="ui huge center aligned icon header" >
      <i class="circular emphasized inverted teal settings icon"></i>
      <div class="content">Welcome to project {{project.name}}</div>
    </h2>

    <div class="ui update form">

      <div class="field">
        <label>Name</label>
        <input type="text" name="project_name" placeholder={{project.name}}>
      </div> {# end field #}

      <button type="ui primary submit button">Update</button>

    </div> {# end form #}

    <div class="ui horizontal icon divider">
      <i class="circular heart icon">
    </div>
    <div class="ui delete form">

    </div> {# end form #}
  </div> {# end ui column #}
</div>
{% endblock %}
