html, body {
  font-family: "Open Sans", Hevletica, sans-serif;
  padding: 0px;
  margin: 0px;
}

.stripe {
  padding: 50px 0px;
}

.dark.stripe {
  background-color: #333333;
  color: #FFFFFF;
}

.footer.link.list {
  display: block;
  text-align: center;
  margin-bottom: 1.5rem;
}

.addSection{
  -webkit-transition: color 300ms;
}

.addSection:hover{
  -webkit-transition: color 300ms;
  color: #D95C5C !important;
}

.removeSection{
  -webkit-transition: color 300ms;
}

.removeSection:hover{
  -webkit-transition: color 300ms;
  color: #D95C5C !important;
}

canvas{
  border: 1px solid lightgray;
}
